<ion-card>
  <ion-card-header>
    <ion-card-title>Crear una nueva cita</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-input 
          [(ngModel)]="frase"     
          required="required" 
          minlength="5"
          label="Cita&nbsp;&nbsp;&nbsp;"
          errorText="La frase debe tener al menos 5 carácteres"
          #fraseInput="ngModel" />
      </ion-item>
      <ion-item>
        <ion-input 
          [(ngModel)]="autor"     
          required="required" 
          minlength="2"
          label="Autor"
          errorText="El autor debe tener al menos 2 carácteres"
          #autorInput="ngModel" />
      </ion-item>
    </ion-list>
    <ion-button class="btn-agregar" fill="clear" [disabled]="!fraseInput.valid || !autorInput.valid" (click)="addCita()">
      Agregar
      <ion-icon slot="end" name="add-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
