<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Configuraciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-toggle [(ngModel)]="permitirBorrarCitasEnInicio" (ionChange)="onPermitirBorrarCitasEnInicioChange($event)">
        ¿Desea poder borrar citas en el inicio (frase aleatoria)?"
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
